/* Style Sheet If You Build It (table), They Will Come */
/* Name:  Kyle Jones                                      */

/* Gradient target HTML body element tag */

/* css target tableStyle class in HTML */
body{
    background-image: linear-gradient(to left, blue 0%,lightgreen 45%,gray 100%);
}
table.unstyledTable {
    border: 4px solid #FFCDF7;
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    text-align: left;
  }
  table.unstyledTable td, table.unstyledTable th {
    border: 4px solid #AAAAAA;
    padding: 4px 4px;
  }
  table.unstyledTable tbody td {
    font-size: 13px;
    text-align: left;
  }
  table.unstyledTable tr:nth-child(even) {
    background: #EEFF0B;
  }
  table.unstyledTable td:nth-child(even) {
    background: #92EDFF;
  }
  table.unstyledTable thead {
    background: #DDDDDD;
  }
  table.unstyledTable thead th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  table.unstyledTable tfoot {
    font-size: 15px;
    font-weight: bold;
    color: #0E0E0E;
    background: whitesmoke;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    text-align: center;
  }
   h1{
    text-align: center;
  }
  
 
 
/* Add a pseudo-class selector (page 320) */


/* For example --  :nth-child(even)       */
 
 
 
 
/* use colgroup */
/* Week 3, Wednesday Video Lesson Chapter 8 folder - Table Column Group, page 173 */