/* Name: Kyle Jones
    Date: 9/30/2021*/
    /*********************************************************************
***
*Original Author:                                    *
*Date Created:                                       *
*Version:                                                *
*Date Last Modified:                              *
*Modified by:                                          *
*Modification log:                                  *
***
******************************************************************** */


/*body{
    background-image: linear-gradient( tan,lightblue,darkgray );
    margin: 0;  
}
nav{
    background:#28DAE0;
    text-align: center;
    text-decoration: none;
    
    }
    nav li{
    display: inline;
    padding: 120px;
    
    }
    nav a{
        color: black;
    }
    
    h2{
        font-family: 'PTC55F';
        color: darkblue;
    }
    main{
        border-radius: 15px;
        background: whitesmoke;
        background-size: contain;
        text-align: center;
    }

    header{

    }
    main h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    }
    
    main p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: auto;
    
    }*/

/*TABLE STYLE*/
/*body h1{
    text-align: center;
}*/
table.unstyledtable, th, td{
    border:3px solid white
 
}
table{
    width: 100%;
    border-style: ridge;
}
table.unstyledtable, thead, tr{
    background: #73c6c9;
}

table.unstyledtable, tbody, td{
    background: rgb(20, 20, 20);
    text-align-last: left;
}


