/* Name: Kyle Jones
    Date: 8/26/2021*/

/*HTML STYLES*/
html{
    margin: 0;
}


/*BODY STYLES*/
body{
    margin: 0;
    
}

/* HEADER STYLES*/  
h1{
    font-family: 'Anton', sans-serif; 
    text-align: center;
    color: whitesmoke;
    
}

header .jumbotron{ background-image:url('../images/canva-photo-editor\ \(3\).png' );
background-position: center center;
width: 100%;
background-repeat: no-repeat;
height: 200px;
padding-top: 100px;
}


header .jumbotron h1{
color: black;
}


nav{
background-color: white;
text-align: center;
text-decoration: none;
color: black;
}

nav li{
display: inline;
padding: 0px;

}
nav a{
    color: black;
    font-size: large;
}

.title{
    font-family: 'PTC55F';
    color:white;
}

/*MAIN STYLES*/

main{
    border-radius: 15px;
    background:linear-gradient(#dc8c24,#fcdc7b,#5c3026,#7094b7,#c6b3b0,#3c3c44);
    background-size: contain;
    text-align: center;
    border-style:hidden;
}
main h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2em;
}

main img{
    width: 13%;
    height: auto;
    border-radius: 5px;
    border-style: hidden;
}
main p{
font-size: larger;
}
main ul{
    list-style-type: none;
}
main li{
    text-align: center;
}

/* FORM STYLES*/

fieldset{
    margin:0 25%;
}

/*#box1,#box2,#box3,#box4,#box5,#box6,#box7{
border: 1px solid black;
padding: 10px 0px;
}*/

div ul li{
    text-align: left;
    
}
#radiobutton{
    margin-left: 40%;
}
#submit {
    background-color: darkgray;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border-style: ridge;
  }


/* FOOTER STYLES*/

footer {
    background-color:whitesmoke;
     text-align: center;
    padding: 5px 5px;
    color: black;
    }

footer a{
    color: white;
    
}
